body{
    background-color: rgba(128, 128, 128, 0.294);
}
.menubar{
    /* background-color: antiquewhite; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
     
    
    
   
    & img{
        width: 150px;
        margin:0 60px;
    }
}
.menu{
    display: flex;
    
   
     & ul{
        display: flex;
        list-style-type: none;
        margin:30px 100px;
         
     }

     & a{
        text-decoration: none;
        margin: 15px;
        font-size: 1.1rem;
        font-weight: 700;
        color: gray ;
        line-height: 1em;
        letter-spacing: 2.4px;
        
     }
     & a:hover{
        color: rgba(0, 0, 0, 0.759);
     }
}
.bar{
    display: flex;
    display: none;
    margin-right:50px ;
    cursor: pointer;
     & a{
        font-size: 1.5rem;
        color: black;
      
     }
     & a:hover{
        color: rgb(221, 162, 53);
     }
    
}
.bar:hover{
    color: #d1aa5e;
}
.trop{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.333);
    position: fixed;
    top: 0; 
    cursor: pointer;
    display: none;
    z-index: 50;
    & a{
    width: 100%;
    height: 100vh;
    }
    }
    

.tropbar{
    
    width: 320px;
    height: 100vh;
    background: url(bg.jpg);
    display: flex;
    position: relative;
    overflow: hidden;
    top: 0;
    right: 0%;
   float: right;
    animation: drop 20s infinite;
    transform: translate(350px,0);
    
    & ul{
        display: flex;
        list-style-type: none;
        flex-direction: column;
        transform: translate(-190px,0);
     }
     & li{
        width: 1000px;
        height: 50px;       
        box-shadow: 0 0 2px white;
        padding:10px 0px;
        cursor: pointer
        ;
     }
     & li:hover{
        background-color: #d1aa5e; 
        transition: 0.5s;
     }
     & a{
        padding: 10px 200px;
        /* background-color: aqua; */
        text-decoration: none;
        margin: 20px;
        font-size: 12px;
        font-weight: 700;
        color: rgb(252, 252, 250) ;
        /* position: absolute; */
     }
    
}
    @keyframes drop {
        3% {transform: translate(0,0);}
        100% {transform: translate(0px,0);}
        
        
    }
    .slider{
        width: 100%;
        height: 800px;
        /* overflow-x: auto; */
        display: flex;
        scroll-snap-type: X mandatory;
        scroll-behavior: smooth;
        overflow: hidden;
        animation: SLIDE 40s infinite;
        transform: translateX(-100%);
        background: url(tb1.png);
        background-size: cover;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            flex: 1 0 100%;
            scroll-snap-align: start;
            animation: Slide 30s infinite;
            overflow: hidden;
        }
    }
     @keyframes SLIDE {
        3% {transform: translate(0,0);}
        100% {transform: translate(0px,0);}
        
        
    }
    @keyframes Slide{
        0% {transform: translateX(0%);}
        28% {transform: translateX(0%);}
        29% {transform: translateX(-50%);}
       
        31% {transform: translateX(-100%);}
        60% {transform: translateX(-100%);}
        61% {transform: translateX(-150%);}

        63% {transform: translateX(-200%);}
        97% {transform: translateX(-200%);}
        98% {transform: translateX(-100%);}

        100% {transform: translateX(0%);}
        
    }
    
    .slideBar{
       display: flex;
       position: absolute;
       right: 48.4%;
       /* transform: translateX(-50%); */
       gap: 15px;
       
        & a{
        width: 0.8rem;
        height: 0.8rem; 
        background-color: #f4f3f15d;
        /* color: #d1aa5e; */
        /* margin: 10px; */
        z-index: 100;
        }
        & a:hover{
            background-color: rgba(128, 128, 128, 0.721);
        }
    }
    .bg2{
        width: 100%;
        height: 800px;
        background: url(bg2.jpg);
        display: flex;
        flex-direction: column;
    }
    .logo2{
            margin: auto;
            margin-top: 100px;
            text-align: center;
            & h6{
                text-align: center;
                color: gray;
                /* font-weight: bold; */
                letter-spacing: 1.5px;
                font-weight: bold;
                font-size: 11px;
            }
            & h6::before{
                content: "";
                position: absolute;
                background: url(bg3.png);
                width: 77px;
                height: 76px;
                margin-top: -28px;
                
            }
            & h1{
                margin-top: 50px;
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 2.7rem;
            }
            }
    .slideDrink{
        width: 100%;
        height: 100%;
        overflow-x: auto;
        display: flex;
        /* justify-content: center; */
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        margin-top: 100px;
        overflow: hidden;
        & img{
            flex: 5 0 33.33%;
            width: 50%;
            height: 60%;
            animation: Drink 20s infinite;
            object-fit: cover;
            scroll-snap-align: start;
        }
    }
    @keyframes Drink{
        0% { transform: translateX(0);}
        18% { transform: translateX(0);}

        20% { transform: translateX(-100%);}
        38% { transform: translateX(-100%);}

        40% { transform: translateX(-200%);}
        58% { transform: translateX(-200%);}

        60% { transform: translateX(-300%);}
        85% { transform: translateX(-300%);}

        87% { transform: translateX(-400%);}
        97% { transform: translateX(-400%);}

        100% { transform: translateX(0%);}

       
    }
    .beverage{
        width: 100%;
        }
    .beverageMenu{
            width: 75%;
            height: auto;
            margin: auto;
            & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 7%;
        }
    }
    .food{
        width: 100%;
        & h6::before{
            transform: translate(-20px,0);
        }
        
        & .foodMenu{
            width: 75%;
            height: auto;
            margin: auto;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-top: 7%;
        }
        }
    }
    .Home{
            width: 40px;
            height: 40px;
            background-color: #d1aa5e;
            position: sticky;
            z-index: 100;
            bottom: 5%;
            left: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            display: none;
            &.Home:hover{
                 transform: scale(1.1);
                 box-shadow: 0 0 5px black;
            }
            & a{
                color: white;
                padding: 10px;
            }
    }
    .map{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        & h6::before{
            transform: translate(-15px,0);
        }
        & p{
            font-family: Lato;
    font-size: 1.071em;
    font-weight: 400;
    margin: 0.25em 0 2em 0;
    color: gray;
        }
        & .logo2{
            width: 100%;
            height: 30%;

        }
    }
    .store{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        transform: translate(0,-100px);
        & .map1{
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;
            & img{
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
        & .map2{
            width: 50%;
            height: 60%;
            display: flex;
            flex-direction: column;
            padding: 110px 50px;
            box-sizing: border-box;
            & a{
                text-decoration: none;  
                color: black;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
    .mapMini{
         width: 100%;
        height: 650px;
        & h6::before{
            transform: translate(-18px,0);
        }
        & h1{
            font-size: 1.5rem;
        }
        & p{
            font-family: Lato;
            font-size: 10px;
            font-weight: 400;
            margin: 0.25em 0 2em 0;
            color: gray;
        }
        
     & .store2{
        justify-content: center;
        & .map1{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            & img{
                width: 200px;
                height: 70%;
                object-fit: cover;
            }
        }
        & .map2{
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            row-gap: 30px;
            & a{
                text-decoration: none;
                color: black;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    & .slideStore{
        margin-top: 50px;
        height: 50px;
        & a{
            width: 33%;
            padding: 0 10px;
        }
        & img{
            width: 100%;
            height: 100%;
        }
    }
}
        
    .slideStore{
        width: 100%;
        height: 20%;
        display: flex;
        margin-top: -130px;
        overflow-x: auto;
        justify-content: space-around;
        scroll-snap-type: X mandatory;
        scroll-behavior: smooth;
        overflow: hidden;
        & a{
            width: 33%;
            height: 100%;
            object-fit: cover;
            flex: 1 0 33.33%;
            scroll-snap-align: start;
            animation: Drink 20s infinite;
            padding: 0 15px;
            cursor: pointer;
            & img{
               width: 100%;
               height: 100%;
            }
        }
    }

        .showImg {
            display: none;
            & a{
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.098);
            top: 0;
            z-index: 100;
            cursor: pointer;
            padding: 100px;
            display: flex;
            justify-content: center;
            }
           & .size{
            width:50% ;
            height: 70%;
            padding: 5px;
            box-sizing: border-box;
            background-color: aliceblue;
            border-radius: 10px;
            animation: SLIDE 20s infinite;
            transform: translateY(30%);
            overflow: hidden;
            & img{
                width: 100%;
                height: 100%;
            }
           }
        }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 
    .head{
        z-index: 0;
    }
    .menubar{
        height: 80px;
        & img{
            width: 50px;
        }
    }
    .menu{
            display: none;
        }
    .bar{
        display: flex;
    }
     .slider{
        width: 100%;
        height: 160px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .slideBar{
        display: none;
    }
   .bg2{
    height: 500px;
        & h1{
            font-size: 1.5rem;
        }
       & .slideDrink{
        transform: translate(0,-70px);
        & img{
            width: 33%;
        }
       }
   }
   .beverage{
    & h1{
        font-size: 1.5rem;
    }
    & img{
        margin-top: 30%;
    }
   }
   .food{
    height: 500px;
    & h1{
        font-size: 1.5rem;
    }
    & img{
        margin-top: 30%;
    }
   }
   
    .Home{
            display: flex;
            left: 87%;
        }
    
    .map{
        display: none;
    }
    .mapMinni{
        display: block;
      
    }
    
 }
@media (min-width: 576px) { 
     .menubar{
        height: 100%;
        & img{
            width: 70px;
        }
    }
   .slider{
        width: 100%;
        height: 250px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
        .slideBar{
        display: flex;
    }
    .bg2{
    height: 600px;
    }
    .beverage{
    & img{
        margin-top: 15%;
    }
   }
    .food{
    & img{
        margin-top: 15%;
    }
   }
  
   .map{
    display: block;
    height: 800px;
    & .store{
        & .map1{
            & img{
                width: 100%;
                height: 230px;
            }
        }
        & .map2{
            & a{
                font-size: 15px;
            }
        }
    }
    & p{
        font-size: 0.7rem;
    }
    & h1{
        font-size: 1.5rem;
    }
    & span{
        font-size: 15px;
    }
}
.slideStore{
    height: 90px;
    & a{
    padding: 0 10px;    }
}
.mapMini{
    display: none;
}

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
     .slider{
        width: 100%;
        height: 320px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .food{
        height: 600px;
    }
   .Home{
    left: 92%;
   }
       .store2{
        display: none;
    }
    .store{
        display: flex;
    }
    .map{
    display: block;
    height: 900px;
    & .store{
        & .map1{
            & img{
                width: 100%;
                height: 300px;
            }
        }
        & .map2{
            & a{
                font-size: 1.5rem;
            }
        }
    }
    & p{
        font-size: 1rem;
    }
    & h1{
        font-size: 1.5rem;
    }
    & span{
        font-size: 1.5rem;
    }
}
.slideStore{
    height: 150px;
    & a{
    padding: 0 10px;    }
}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .head{
        position: sticky;z-index: 10;
        top: 0;
        background-color: white;
    } 
   .menubar{

        & img{
            width: 100px;
        }
    }
    .menu{
            display: flex;
        }
    .bar{
        display: none;
    }
    .slider{
        width: 100%;
        height: 420px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bg2{
        height: 700px;
        & h1{
            font-size: 2rem;
        }
        & .slideDrink{
            transform: translate(-13px,0);
            justify-content: start;
            & img{
                width:50%;
            }
        }
    }
    .beverage{
        & h1{
            font-size: 2rem;
        }
    }
    .food{
        height: 700px;
        & h1{
            font-size: 2rem;
        }
    }

    .Home{
        display: none;
    }
     .map{
        height: 1000px;
        & h1{
            font-size: 2rem;
        }
        & .store{
            & .map1{
                & img{
                    width: 90%;
                    height: 400px;
                }
            }
        }
     }
     .slideStore{
        height: 180px;
        & a{
        padding: 0 10px;    }
     }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
     .slider{
        width: 100%;
        height: 500px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bg2{
        height: 800px;
        & h1{
            font-size: 3rem;
        }
    }
    .beverage{
        & h1{
            font-size: 3rem;
        }
    }
    .food{
        height: 800px;
        & h1{
            font-size: 3rem;
        }
    }
     
   .map{
        height: 1050px;
        & h1{
            font-size: 3rem;
        }
    }
   }
 


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .slider{
        width: 100%;
        height: 700px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slideBar{
        bottom: 8%;
    }
    .bg2{
        height: 850px;
        & h1{
            font-size: 3rem;
        }
        & .slideDrink{
            transform: translate(-15px,0);
            justify-content: start;
            & img{
                width:50%;
            }
        }
       
    }
    .beverage{
    & h1{
        font-size: 3rem;
    }
    & img{
        margin-top: 7%;
    }
   }
    .food{
        height: 900px;
    & h1{
        font-size: 3rem;
    }
    & img{
        margin-top: 7%;
    }
   }
    .map{
        height: 1100px;
        & h1{
            font-size: 3rem;
        }
        & .store{
            & .map1{
                & img{
                    width: 80%;
                    height: 80%;
                }
            }
        }
     }
     .slideStore{
     }
 }
 @media (min-width: 1910px) {
    .slider{
        width: 100%;
        height: 800px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slideBar{
        bottom: 7%;
    }
    
  }